<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<div style="width: 100%; border: 2px solid blue; height: 80%; border-radius: 20px;">
    <div  th:each="message : ${messages}">
      <p th:text="${message.getMsg_text()}" style="margin-left: 10px; border-radius: 30px; border: 2px solid blue; width: 150px; padding: 6px 6px 6px 6px"></p>
    </div>
</div>
<div class="message-form">
    <div class="message-form">
        <form action="/chat" method="post">
            <input type="hidden" name="receiverId" value="${receiver.id}">
            <label for="msg_text">Message:</label>
            <textarea name="msg_text" id="msg_text" required></textarea>
            <input type="submit" value="Send">
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        </form>
    </div>
</div>
</body>
</html>