<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<!--<h1>Welcome, <span th:text="${user.getName()}"></span>!</h1>-->
<p>Test
</p>
<form method="post" th:action="@{/user}" >
<div>
<label class="profile-description-date-container">
    <span class="profile-description-date-description">Birthday</span>
    <input type="text" name="birthday" th:value="${birthday}"
           th:format="'yyyy-MM-dd'">
</label>
    <button class="save-button" type="submit"
            th:text="Save" value="save">SaveInfo</button>

</div>
</form>
</body>
</html>